/* Default background color for the body */
body {
  background-color: cyan;
  color: #333;
  font-size: 16px;
}

/* Default styles for h1 tags */
h1 {
  color: #2c3e50;
  font-size: 2.5em;
  font-style: italic;
  text-align: center;
}

.hbar1 {
  display: inline;
  margin: 15px;
}
